*,
a {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: black;
}

html {
	font-size: 62.5%;
}

body {
	width: 80%;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Mulish', sans-serif;
}

p {
	font-family: 'Poppins', sans-serif;
}
/* Top Bar */
.topBar {
	margin-top: 5vh;
	display: flex;
}
.topBar ul {
	display: flex;
}

.topBar .logo {
	/* border: 1px solid black; */
	flex: 1;
	font-size: 3.5rem;
	font-family: 'Mulish', sans-serif;
}

.topBar .logo a {
}

.topBar ul li {
	display: flex;
}
.topBar ul li a {
	border: 1px solid black;
	padding: 1.5rem;
	text-align: center;
	font-size: 1.75rem;
	font-family: 'Poppins', sans-serif;
}
